<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <a href="/add"><button>Add Project</button></a>
        <a href="/view-notes"><button>View Notes</button></a>
        <table border="1">
            <tr>
                <th>id</th>
                <th>Project Title</th>
                <th>Project Description</th>
                <th>Project Start Date</th>
                <th>Project Due Date</th>
                <th>Mode of Action</th>
            </tr>
            <% projects.forEach( (project) => { %>
                <tr>
                    <td>
                        <%= project.id %>
                    </td>
                    <td>
                        <%= project.project_title %>
                    </td>
                    <td>
                        <%= project.project_description %>
                    </td>
                    <td>
                        <%= project.project_start_dt %>
                    </td>
                    <td>
                        <%= project.project_due_dt %>
                    </td>
                    <td>
                        <a href="edit/<%= project.id %>"><button>edit</button></a>
                        <a href="delete/<%= project.id %>"><button>remove</button></a>
                        <a href="/add-notes<%= project.id %> "><button>Add Note</button></a>
                    </td>
                </tr>
                <% }) %>
        </table>
       
    </div>
   
</body>

</html>