<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <h1><%= title %></h1>
        <form action="/save" method="post">
            <input type="hidden" name="id" value="<%= projects.id %>">

            <div>
                <label for="projectTitle">Project Title</label>
                <input type="text" name="projectTitle" value="<%= projects.project_title %>">
            </div>
            <div>
                <label for="description">Project Description</label>
                <input type="text" name="description" value="<%= projects.project_description %>">
            </div>
            <div>
                <label for="start">Project Start Date</label>
                <input type="text" name="start" value="<%= projects.project_start_dt %>">
            </div>
            <div>
                <label for="due">Project Due Date</label>
                <input type="text" name="due" value="<%= projects.due_dt %>">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>